@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@media screen and (min-width:1200px){

}

// ≥992px
@media screen and (min-width:992px){

}

// ≥768px
@media screen and (min-width:768px){

}

// ≥576px
@media screen and (min-width:576px){

}


/*==========  Mobile First  ==========*/
// ≤1200px
@media screen and (max-width:1180px){
  .container{
    width: 100%;
    padding: 0 10px;
    &__content{
      padding: 0;
    }
  }
}
@media screen and (max-width:1024px){
  .header{
    &__content{
      .menu{
        ul{
          li{
            margin: 0 10px;
            a{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width:996px){
  .header{
    &__content{
      .logo{
        display: flex;
        align-items: center;
        .burger{
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
        }
      }
      .menu{
        display: none;
      }
    }
  }
}
// ≤576px
@media screen and (max-width:650px){
  .header{
    padding-top: 0;
    &__content{
      .burger{
        width: 25px;
        height: 25px;
        span{
          height: 2px;
          width: 25px;
          &:before{
            height: 2px;
            top: -8px;
            width: 25px;
          }
          &:after{
            height: 2px;
            top: 8px;
            width: 25px;
          }
        }
      }
      .logo{
        a{
          img{
            height: 15px;
          }
        }
      }
    }
  }
}

// ≤768px
@media screen and (max-width:768px){

}

// ≤992px


/*==========  Footer start  ==========*/
@media screen and (max-width:996px){
  .footer {
    margin-top: 50px;
    padding-bottom: 40px;
    &:before {
      height: 50px;
      top: -50px;
    }
    &__title {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 25px;
    }
    &__description {
      font-size: 18px;
      line-height: 22px;
    }
    &__button {
      svg {
        height: 50px;
        width: 150px;
      }
    }
  }
}
@media screen and (max-width:650px){
  .footer {
    margin-top: 40px;
    padding-bottom: 30px;
    &:before {
      height: 40px;
      top: -40px;
    }
    &__title {
      font-size: 22px;
      line-height: 25px;
      margin-bottom: 15px;
    }
    &__description {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 20px;
    }
    &__button {
      svg {
        height: 45px;
        width: 140px;
      }
      span {
        font-size: 16px;
        line-height: 18px;
      }
    }
  }

}
/*==========  Footer end  ==========*/


