@import "vars";


@media screen and (max-width: 1180px) {
  .container {
    width: 100%;
    padding: 0 10px;

    &__content {
      padding: 0;
    }
  }
  .stock {
    .stock_img2 {
      right: -330px;
    }

    .stock_img3 {
      left: -100px;
    }

    .stock_img4 {
      right: -350px;
    }
  }


}

@media screen and (max-width: 1024px) {
  .header {
    &__content {
      .menu {
        ul {
          li {
            margin: 0 10px;

            a {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .callback {
    z-index: 2;
    position: relative;

    &__title {
      h4 {
        font-size: 27px;
        line-height: 36px;
      }
    }

    &__text {
      width: 60%;

      h5 {
        font-size: 24px;
      }

      ol {
        padding-left: 25px;

        li {
          font-size: 18px;
          margin-bottom: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 996px) {
  .header {
    &__content {
      .logo {
        display: flex;
        align-items: center;
        z-index: 2;

        .burger {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;

        }
      }

      .menu {
        opacity: 0;
        transition: .4s all;
        position: fixed;
        top: -200%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $green;
        padding-top: 120px;

        &.active {
          top: 0;
          opacity: 1;
        }

        ul {
          flex-wrap: wrap;

          li {
            width: 100%;
            text-align: center;
            margin: 0;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
  .head {
    height: 700px;

    h1 {
      font-size: 56px;
      margin-bottom: 50px;
    }
  }
  .stock {
    &__item {
      &__title {
        font-size: 27px;
        line-height: 34px
      }

      &__text {
        width: 490px;

        p {
          font-size: 18px;
          line-height: 22px;
        }

        ol {
          li {
            font-size: 18px;
            line-height: 22px;
          }
        }
      }
    }
  }
  .iblock__info {
    &__text {
      p {
        font-size: 18px;
        line-height: 20px;
      }
    }

    .video {
      iframe {
        height: 400px;
      }
    }
  }
  .purpose {
    &__column {
      .icon {
        height: 70px;
      }

      .description {
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 25px;
      }

      ul li {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 25px;
      }
    }

    &__stock {
      transform: scale(0.8);

      &:nth-child(-n+4) {
        left: -20px;
      }

      &:nth-last-child(-n+4) {
        right: -30px;
      }
    }
  }
  .title {
    font-size: 32px;
    line-height: 38px;
  }
  .footer {
    margin-top: 50px;
    padding-bottom: 40px;

    &:before {
      height: 50px;
      top: -50px;
    }

    &__title {
      margin-bottom: 25px;
    }

    &__description {
      font-size: 18px;
      line-height: 22px;
    }

    &__button {
      svg {
        height: 50px;
        width: 150px;
      }
    }
  }
  .produce {
    margin-bottom: 50px;

    &__title {
      font-size: 32px;
      line-height: 36px;
      width: 44%;
    }

    &__item {
      img {
        max-height: 60px;
      }

      .description {
        width: 75%;
      }
    }
  }
  .collection {
    &__stock {
      transform: scale(.8);

      &:nth-child(1) {
        left: -17px;
        top: 28%;
      }

      &:nth-child(2) {
        right: -26px;
        top: 13%;
      }

    }

    &__title {
      margin-bottom: 60px;
    }

    &__row {
      margin-bottom: 70px;

      .left {
        font-size: 34px;
        line-height: 36px;
      }

      .right {
        .title {
          font-size: 22px;
          line-height: 24px;
          margin-bottom: 20px;
        }

        ul {
          width: 100%;

          li {
            font-size: 22px;
            line-height: 24px;
            margin-bottom: 25px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .stock {
    padding-bottom: 50px;

    &__item {
      flex-wrap: wrap;
      margin-bottom: 40px;

      &__title {
        width: 100%;
        margin-bottom: 20px;
      }

      &__text {
        width: 100%;
      }
    }
  }
  .callback {
    height: 450px;

    &__content {
      flex-wrap: wrap;
    }

    &__title {
      width: 100%;
      margin-bottom: 20px;
    }

    &__text {
      width: 100%;

      h5 {
        margin-bottom: 10px;
      }
    }
  }
  .purpose {
    &__column {
      .icon {
        height: 50px;
      }

      .description {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 20px;
      }

      ul li {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 20px;
      }
    }

    &__stock {
      transform: scale(0.6);

      &:nth-child(-n+4) {
        left: -35px;
      }

      &:nth-last-child(-n+4) {
        right: -60px;
      }
    }
  }

  .collection {
    &__title {
      margin-bottom: 30px;
    }

  }
  .partners__row_4 img {
    flex: 0 0 50%;
    margin-bottom: 15px;

    &:nth-last-of-type(-n+2) {
      margin-bottom: 0;
    }
  }
  .materials {
    padding-bottom: 70px;

    &__left {
      .label, a {
        font-size: 16px;
        line-height: 19px;
      }
    }

    &__right {
      .description, span {
        font-size: 16px;
        line-height: 19px;
      }
    }

    &__button {
      svg {
        width: 150px;
        height: 60px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .produce {
    &__items {
      justify-content: unset;
    }

    &__item {
      flex: 0 0 33.333%;
      margin-bottom: 15px;

      &:nth-last-of-type(-n+3) {
        margin-bottom: 0;
      }
    }
  }
}

// ≤576px
@media screen and (max-width: 650px) {
  .header {
    padding-top: 0;

    &:before {
      bottom: -30px;
    }

    &__content {
      .burger {
        width: 25px;
        height: 25px;

        span {
          height: 2px;
          width: 25px;

          &:before {
            height: 2px;
            top: -8px;
            width: 25px;
          }

          &:after {
            height: 2px;
            top: 8px;
            width: 25px;
          }
        }
      }

      .logo {
        a {
          img {
            height: 10px;
          }
        }
      }

      .auth {
        .login, logout {
          span {
            font-size: 12px;
            top: 9px;
          }
        }

        .login {
          svg {
            width: 70px;
          }
        }

        .logout {
          svg {
            width: 130px;
          }

          span {
            font-size: 12px;
            top: 24px;
            left: -4px;
          }
        }
      }
    }
  }
  body {
    padding-top: 70px;
  }
  .btn {
    svg {
      width: 180px;
      height: auto;
    }

    span {
      font-size: 14px;
    }
  }
  .head {
    height: 500px;

    img {
      height: 60px;
    }

    h1 {
      font-size: 30px;
    }
  }
  .callback {
    height: 300px;

    &__title {
      h4 {
        font-size: 18px;
        line-height: 20px;
      }
    }

    &__text {
      h5 {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 10px;
      }

      ol {
        padding-left: 20px;

        li {
          font-size: 14px;
          line-height: 16px;
          margin-bottom: 15px;
        }
      }
    }
  }
  .iblock__info {
    padding-top: 50px;

    .iblock_img3 {
      right: -280px;
    }

    .iblock_img4 {
      top: 300px;
    }

    &__text {
      p {
        font-size: 14px;
        line-height: 16px;
      }
    }

    .video {
      margin-top: 30px;

      iframe {
        height: 300px;
      }
    }
  }
  .purpose {
    background-image: unset;
    margin-bottom: 20px;
    padding: 0;

    &__content {
      flex-wrap: wrap;
    }

    &__column {
      flex: 0 0 100%;
      padding: 0 20px;
      box-sizing: border-box;

      .icon {
        margin: 20px 0;
      }

      &:nth-child(1) {
        background-color: $green;
      }

      &:nth-child(2) {
        background-color: #C62828;
        padding: 0 20px;
      }

      .icon {
        height: 40px;
      }

      .description {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 15px;
      }

      ul li {
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 15px;
      }
    }

    &__stock {
      transform: scale(0.4);

      &:nth-child(1) {
        left: -40px;
        top: 0;
      }

      &:nth-child(2) {
        left: -19px;
        top: 17%;
      }

      &:nth-child(3) {
        left: -27px;
        top: 22%;
      }

      &:nth-child(4) {
        left: -16px;
        top: 32%;
      }

      &:nth-child(5) {
        right: -32px;
        top: 50%;
      }

      &:nth-child(6) {
        right: -47px;
        top: 58%;
      }

      &:nth-child(7) {
        right: -78px;
        top: 60%;
      }

      &:nth-child(8) {
        right: -32px;
        top: 85%;
      }
    }
  }
  .title {
    font-size: 22px;
    line-height: 25px;
  }
  .footer {
    margin-top: 40px;
    padding-bottom: 30px;

    &:before {
      height: 40px;
      top: -40px;
    }

    &__title {
      margin-bottom: 15px;
    }

    &__description {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 20px;
    }

    &__button {
      svg {
        height: 45px;
        width: 140px;
      }

      span {
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
  .produce__title {
    font-size: 26px;
    line-height: 28px;
  }

  .stock {
    .stock_img1 {
      left: -200px;
    }

    .stock_img3 {
      left: 150px;
    }

    &__item {
      margin: 20px 0;
      margin-bottom: 30px;

      &__title {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 15px;
      }

      &__text {
        p {
          font-size: 14px;
          line-height: 16px;
        }

        ol {
          li {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 15px;
          }
        }

        strong {
          font-size: 12px;
          line-height: 12px;
        }
      }
    }
  }
  .materials {
    padding-bottom: 50px;

    &__content {
      flex-wrap: wrap;
    }

    &__left {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 480px) {
  .organizers {
    margin-bottom: 40px;

    &__row img {
      flex: 0 0 100%;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .partners {
    &__row_3, &__row_4 {
      img {
        flex: 0 0 100%;
        margin-bottom: 15px;
      }
    }

    &__row_4 img:last-child {
      margin-bottom: 0;
    }
  }
  .produce {
    &__item {
      flex: 0 0 50%;
      margin-bottom: 15px;

      &:nth-last-of-type(-n+3) {
        margin-bottom: 15px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .modal {
    width: 100%;
  }
  .select {
    margin-bottom: 12px;
  }
  .modal {
    background-position: top center;

    &__content {
      padding: 35px 30px;
    }
  }
  form {
    .field {
      margin-bottom: 12px;
    }

    .button {
      .btn {
        &.white {
          transform: scale(0.7);
        }
      }
    }
  }
}

