@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@media screen and (min-width:1200px){

}

// ≥992px
@media screen and (min-width:992px){

}

// ≥768px
@media screen and (min-width:768px){

}

// ≥576px
@media screen and (min-width:576px){

}


/*==========  Mobile First  ==========*/
// ≤1200px
@media screen and (max-width:1180px){
  .container{
    width: 100%;
    padding: 0 10px;
    &__content{
      padding: 0;
    }
  }
  .stock{
    .stock_img2{
      right: -330px;
    }
    .stock_img3{
      left: -100px;
    }
    .stock_img4{
      right: -350px;
    }
  }
}
@media screen and (max-width:1024px){
  .header{
    &__content{
      .menu{
        ul{
          li{
            margin: 0 10px;
            a{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width:996px){
  .header{
    &__content{
      .logo{
        display: flex;
        align-items: center;
        z-index: 2;
        .burger{
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;

        }
      }
      .menu{
        opacity: 0;
        transition: .4s all;
        position: fixed;
        top: -200%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $green;
        padding-top: 120px;
        &.active{
          top: 0;
          opacity: 1;
        }
        ul{
          flex-wrap: wrap;
          li{
            width: 100%;
            text-align: center;
            margin: 0;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
  .head{
    height: 700px;
    h1{
      font-size: 56px;
      margin-bottom: 50px;
    }
  }
  .stock{
    &__item{
      &__title{
        font-size: 27px;
        line-height: 34px
      }
      &__text{
        width: 490px;
        p{
          font-size: 18px;
          line-height: 22px;
        }
        ol{
          li{
            font-size: 18px;
            line-height: 22px;
          }
        }
      }
    }
  }
}
@media screen and (max-width:768px){
  .stock{
    padding-bottom:50px;
    &__item{
      flex-wrap: wrap;
      margin-bottom: 40px;
      &__title{
        width: 100%;
        margin-bottom: 20px;
      }
      &__text{
        width: 100%;
      }
    }
  }
}
// ≤576px
@media screen and (max-width:650px){
  .header{
    padding-top: 0;
    &:before{
      bottom: -30px;
    }
    &__content{
      .burger{
        width: 25px;
        height: 25px;
        span{
          height: 2px;
          width: 25px;
          &:before{
            height: 2px;
            top: -8px;
            width: 25px;
          }
          &:after{
            height: 2px;
            top: 8px;
            width: 25px;
          }
        }
      }
      .logo{
        a{
          img{
            height: 10px;
          }
        }
      }
      .auth{
        .login, logout{
          span{
            font-size: 12px;
            top: 9px;
          }
        }
        .login{
          svg{
            width: 70px;
          }
        }
        .logout{
          svg{
            width: 130px;
          }
          span{
            font-size: 12px;
            top: 24px;
            left: -4px;
          }
        }
      }
    }
  }
  body{
    padding-top: 70px;
  }
  .btn{
    svg{
      width: 180px;
      height: auto;
    }
    span{
      font-size: 14px;
    }
  }
  .head{
    height: 500px;
    h1{
      font-size: 30px;
    }
  }
}

// ≤768px
@media screen and (max-width:768px){

}

// ≤992px


@media screen and (max-width:996px){
  .title {
    font-size: 32px;
    line-height: 38px;
  }
  .footer {
    margin-top: 50px;
    padding-bottom: 40px;
    &:before {
      height: 50px;
      top: -50px;
    }
    &__title {
      margin-bottom: 25px;
    }
    &__description {
      font-size: 18px;
      line-height: 22px;
    }
    &__button {
      svg {
        height: 50px;
        width: 150px;
      }
    }
  }
}
@media screen and (max-width:768px){
  .partners__row_4 img {
    flex: 0 0 50%;
    margin-bottom: 15px;

    &:nth-last-of-type(-n+2) {
      margin-bottom: 0;
    }
  }
}
@media screen and (max-width:650px){
  .title {
    font-size: 22px;
    line-height: 25px;
  }
  .footer {
    margin-top: 40px;
    padding-bottom: 30px;
    &:before {
      height: 40px;
      top: -40px;
    }
    &__title {
      margin-bottom: 15px;
    }
    &__description {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 20px;
    }
    &__button {
      svg {
        height: 45px;
        width: 140px;
      }
      span {
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
  .stock{
    .stock_img1{
      left: -200px;
    }
    .stock_img3{
      left: 150px;
    }
    &__item{
      margin: 20px 0;
      margin-bottom: 30px;
      &__title{
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 15px;
      }
      &__text{
        p{
          font-size: 14px;
          line-height: 16px;
        }
        ol{
          li{
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 15px;
          }
        }
        strong{
          font-size: 12px;
          line-height: 12px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .organizers {
    margin-bottom: 40px;

    &__row img {
      flex: 0 0 100%;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .partners {
    &__row_3, &__row_4 {
      img {
        flex: 0 0 100%;
        margin-bottom: 15px;
      }
    }

    &__row_4 img:last-child {
      margin-bottom: 0;
    }
  }
}

