@import "vars";
@import "fonts";
@import "libs";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #fff;
	font-family: $default-font;
	padding-top: 110px;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.container{
	width: 1180px;
	margin-left: auto;
	margin-right: auto;
	&__content{
		padding: 0 80px;
	}
}
.btn{
	position: relative;
	display: inline-block;
	span{
		font-weight: normal;
		font-size: 29px;
		line-height: 32px;
		color: #fff;
		font-family: $angry;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
	}
}
.header{
	background-color: $green;
	padding-top: 25px;
	padding-bottom: 0px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	&:before{
		content: '';
		width: 100%;
		height: 100px;
		background-image: url('../img/bg-header.svg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center bottom;
		position: absolute;
		bottom: -40px;
		left: 0;
	}
	&__content{
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		.menu{
			ul{
				display: flex;
				li{
					margin: 0 12px;
					a{
						font-weight: normal;
						font-size: 18px;
						line-height: 21px;
						color: #fff;
						text-decoration: none;
						position: relative;
						&:hover{
							&:before{
								width: 100%;
							}
						}
						&:before{
							content: '';
							width: 0%;
							height: 1px;
							background-color: #fff;
							position: absolute;
							top: 105%;
							left: 0;
							transition: .4s all;
						}
					}
				}
			}
		}
		.auth{
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			top: 5px;
			.login, .logout{
				position: relative;
				color: #fff;
				display: inline-block;
				svg{
					path{
						transition: .4s all;
					}
				}
				&:hover{
					svg{
						path{
							fill:#FF5E2C;
						}
					}
				}
				span{
					position: absolute;
					top: 8px;
					left: 0;
					width: 100%;
					text-align: center;
					font-weight: 500;
					font-size: 14px;
					line-height: 24px;
				}
			}
			.logout{
				color: $orange;
				margin-left: -9px;
				top: 1px;
				width: 100px;
				svg{
					position: relative;
				}
				&:hover{
					svg{
						path{
							fill: #F3F3F3;
						}
					}
				}
				span{
					top: 23px;
					left: 2px;
				}
			}
		}
	}
	.burger{
		width: 30px;
		height: 30px;
		display: none;
		&.active{
			span{
				transform: rotate(45deg);
				&:before{
					transform: rotate(-85deg);
					top: 0;
					left: 0;
				}
				&:after{
					transform: rotate(-85deg);
					top: 0;
					left: 0;
				}
			}
		}
		span{
			display: block;
			height: 3px;
			width: 30px;
			background-color: #fff;
			position: relative;
			transition: .4s all;
			&:before{
				content: '';
				height: 3px;
				width: 30px;
				background-color: #fff;
				position: absolute;
				top: -10px;
				left: 0;
				transition: .4s all;
			}
			&:after{
				content: '';
				height: 3px;
				width: 30px;
				background-color: #fff;
				position: absolute;
				top: 10px;
				left: 0;
				transition: .4s all;
			}
		}
	}
}

.head{
	background-color: $orange;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 170px;
	height: 900px;
	h1{
		color: #fff;
		font-weight: normal;
		font-size: 72px;
		line-height: 150%;
		font-family: $angry;
		margin-bottom: 100px;
	}
}

.organizers {
	margin-bottom: 60px;
	&__title {
		margin-bottom: 15px;
	}

	&__row {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		img {
			flex: 0 0 33.333%;
			max-height: 110px;
			width: auto;
		}
	}
}
.partners {
	&__title {
		margin-bottom: 15px;
	}
	&__row {
		display: flex;
		align-items: center;
		margin-bottom: 40px;
		flex-wrap: wrap;
		&:last-child {
			margin-bottom: 0;
		}
		img {
			max-height: 130px;
			width: auto;
		}
	}

	&__row_3 {
		justify-content: center;

		img {
			flex: 0 0 33.333%;
		}
	}
	&__row_4 {
		justify-content: space-between;
		img {
			flex: 0 0 25%;
		}
	}
}

.title {
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	color: #38A22B;
}

.footer {
	background-color: #38A22B;
	color: #FFFFFF;
	position: relative;
	margin-top: 70px;
	padding-bottom: 60px;
	box-sizing: border-box;
	width: 100%;
	&:before {
		content: '';
		width: 100%;
		height: 70px;
		background-image: url(../img/footerVector.svg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: right top;
		position: absolute;
		top: -70px;
		left: 0;
	}
	.container {
		z-index: 2;
	}
	&__title {
		color: #ffffff;
		margin-bottom: 32px;
	}
	&__description {
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 30px;
	}
	&__button {
		position: relative;
		display: inline-block;
		transition: all .3s;

		span {
			font-size: 18px;
			line-height: 21px;
			color: #38A22B;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&:hover {
			transform: scale(1.2);
		}
	}
}

.padding{
	padding: 50px 0;
}
.stock{
	position: relative;
	overflow: hidden;
	padding-bottom: 80px;
	.stock_img{
		position: absolute;
		top: 0;
	}
	.stock_img1{
		top: 200px;
		left: -150px;
	}
	.stock_img2{
		top: 100px;
		right: -280px;
	}
	.stock_img3{
		top: 550px;

	}
	.stock_img4{
		right: -200px;
		top: 600px;
	}
	&__item{
		display: flex;
		justify-content: space-between;
		margin: 50px 0;
		margin-bottom: 90px;
		position: relative;
		&__title{
			font-weight: normal;
			font-size: 38px;
			line-height: 42px;
			font-family: $angry;
			&.green{
				color: $green;
			}
			&.orange{
				color: $orange;
			}
		}
		&__text{
			width: 610px;
			p{
				font-weight: normal;
				font-size: 24px;
				line-height: 28px;
			}
			ol{
				margin: 0;
				padding: 0;
				margin-left: 25px;
				li{
					font-weight: normal;
					font-size: 24px;
					line-height: 28px;
					margin-bottom: 30px;
					span{
						color: $green;
						font-style: italic;
					}
				}
			}
			strong{
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 19px;
				color: #4D4D4D;
			}
		}
	}
}




@import "media"; // Always at the end
