@import "vars";
@import "fonts";
@import "libs";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #fff;
	font-family: $default-font;
	padding-top: 122px;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.container{
	width: 1180px;
	margin-left: auto;
	margin-right: auto;
	&__content{
		padding: 0 80px;
	}
}
.header{
	background-color: $green;
	padding-top: 25px;
	padding-bottom: 0px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	&:before{
		content: '';
		width: 100%;
		height: 100px;
		background-image: url('../img/bg-header.svg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center bottom;
		position: absolute;
		bottom: -40px;
		left: 0;
	}
	&__content{
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		.menu{
			ul{
				display: flex;
				li{
					margin: 0 12px;
					a{
						font-weight: normal;
						font-size: 18px;
						line-height: 21px;
						color: #fff;
						text-decoration: none;
						position: relative;
						&:hover{
							&:before{
								width: 100%;
							}
						}
						&:before{
							content: '';
							width: 0%;
							height: 1px;
							background-color: #fff;
							position: absolute;
							top: 105%;
							left: 0;
							transition: .4s all;
						}
					}
				}
			}
		}
		.auth{
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			top: 5px;
			.login, .logout{
				position: relative;
				color: #fff;
				display: inline-block;
				svg{
					path{
						transition: .4s all;
					}
				}
				&:hover{
					svg{
						path{
							fill:#FF5E2C;
						}
					}
				}
				span{
					position: absolute;
					top: 8px;
					left: 0;
					width: 100%;
					text-align: center;
					font-weight: 500;
					font-size: 14px;
					line-height: 24px;
				}
			}
			.logout{
				color: $orange;
				margin-left: -9px;
				top: 1px;
				width: 100px;
				svg{
					position: relative;
				}
				&:hover{
					svg{
						path{
							fill: #F3F3F3;
						}
					}
				}
				span{
					top: 23px;
					left: 2px;
				}
			}
		}
	}
	.burger{
		width: 30px;
		height: 30px;
		span{
			display: block;
			height: 3px;
			width: 30px;
			background-color: #fff;
			position: relative;
			&:before{
				content: '';
				height: 3px;
				width: 30px;
				background-color: #fff;
				position: absolute;
				top: -10px;
				left: 0;
			}
			&:after{
				content: '';
				height: 3px;
				width: 30px;
				background-color: #fff;
				position: absolute;
				top: 10px;
				left: 0;
			}
		}
	}
}





@import "media"; // Always at the end
