@import "vars";
@import "fonts";
@import "libs";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #fff;
	font-family: $default-font;
	padding-top: 90px;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.container{
	width: 1180px;
	margin-left: auto;
	margin-right: auto;
	&__content{
		padding: 0 80px;
	}
}
.btn{
	position: relative;
	display: inline-block;
	transition: .4s all;
	&:hover{
		transform: scale(1.2);
	}
	span{
		font-weight: normal;
		font-size: 22px;
		line-height: 24px;
		color: $green;
		font-family: $angry;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		text-align: center;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
	}
	&.white{
		color: $green;
		span{
			color: $green;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
		}
	}
}
.header{
	background-color: $orange;
	padding-top: 40px;
	padding-bottom: 0px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	&:before{
		content: '';
		width: 100%;
		height: 100px;
		background-image: url('../img/head-bg.svg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center bottom;
		position: absolute;
		bottom: -70px;
		left: 0;
	}
	&__content{
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		.menu{
			padding-left: 80px;
			ul{
				display: flex;
				justify-content: space-between;
				li{
					margin: 0 12px;
					a{
						font-weight: normal;
						font-size: 18px;
						line-height: 21px;
						color: #fff;
						text-decoration: none;
						position: relative;
						&:hover{
							&:before{
								width: 100%;
							}
						}
						&:before{
							content: '';
							width: 0%;
							height: 1px;
							background-color: #fff;
							position: absolute;
							top: 105%;
							left: 0;
							transition: .4s all;
						}
					}
				}
			}
		}
		.auth{
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			top: 5px;
			.login, .logout{
				position: relative;
				color: #fff;
				display: inline-block;
				svg{
					path{
						transition: .4s all;
					}
				}
				&:hover{
					svg{
						path{
							fill:#FF5E2C;
						}
					}
				}
				span{
					position: absolute;
					top: 8px;
					left: 0;
					width: 100%;
					text-align: center;
					font-weight: 500;
					font-size: 14px;
					line-height: 24px;
				}
			}
			.logout{
				color: $orange;
				margin-left: -9px;
				top: 1px;
				width: 100px;
				svg{
					position: relative;
				}
				&:hover{
					svg{
						path{
							fill: #F3F3F3;
						}
					}
				}
				span{
					top: 23px;
					left: 2px;
				}
			}
		}
	}
	.burger{
		width: 30px;
		height: 30px;
		display: none;
		&.active{
			span{
				transform: rotate(45deg);
				&:before{
					transform: rotate(-85deg);
					top: 0;
					left: 0;
				}
				&:after{
					transform: rotate(-85deg);
					top: 0;
					left: 0;
				}
			}
		}
		span{
			display: block;
			height: 3px;
			width: 30px;
			background-color: #fff;
			position: relative;
			transition: .4s all;
			&:before{
				content: '';
				height: 3px;
				width: 30px;
				background-color: #fff;
				position: absolute;
				top: -10px;
				left: 0;
				transition: .4s all;
			}
			&:after{
				content: '';
				height: 3px;
				width: 30px;
				background-color: #fff;
				position: absolute;
				top: 10px;
				left: 0;
				transition: .4s all;
			}
		}
	}
}

.head{
	background-color: $green;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 100px;
	height: 600px;
	.container__content{
		position: relative;
	}
	img{
		position: absolute;
		top: -50px;
		right: 0;
	}
	h1{
		color: #fff;
		font-weight: normal;
		font-size: 48px;
		line-height: 53px;
		font-family: $angry;
		margin-bottom: 100px;
		margin-bottom: 40px;
	}
	p{
		font-family: $angry;
		font-weight: normal;
		font-size: 24px;
		line-height: 26px;
		color: #fff;
		margin-bottom: 50px;
	}
}

.produce {
	margin-bottom: 77px;
	position: relative;
	overflow: hidden;
	.container {
		position: relative;
	}

	&__stock {
		width: 115.06px;
		height: 115.06px;
		transform: rotate(31.67deg);
		position: absolute;
		content: '';
		top: 3%;
		right: 0;
	}

	.container__content {
		z-index: 2;
	}
	&__title {
		font-family: $angry;
		font-size: 38px;
		line-height: 42px;
		color: #000000;
		margin-bottom: 20px;
		width: 33%;
	}
	&__items {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__item {
		transition: all .3s;
		&:hover {
			transform: scale(1.1);
		}
		img {
			max-height: 100px;
			width: auto;
			margin-bottom: 20px;
		}
		.description {
			font-size: 14px;
			line-height: 16px;
			color: #000000;
			width: 48%;
		}
	}
}

.materials {
	padding-bottom: 90px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	&__stock_left {
		width: 267.25px;
		height: 267.25px;
		position: absolute;
		content: '';
		top: -100px;
		left: -75px;
	}
	&__stock_right {
		width: 238.24px;
		height: 233.16px;
		position: absolute;
		content: '';
		top: -55px;
		right: -60px;
	}
	.container {
		z-index: 2;
	}
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__left {
		.label {
			font-weight: 700;
			font-size: 18px;
			line-height: 21px;
			margin-bottom: 5px;
			color: rgba(0, 0, 0, 0.7);
		}
		a {
			font-weight: 400;
			font-style: italic;
			font-size: 18px;
			line-height: 21px;
			color: #2D9CDB;
			text-decoration: underline;
			transition: all .3s;
			&:hover {
				text-decoration: none;
			}
		}
	}
	&__right {
		display: flex;
		align-items: center;
		.description {
			font-weight: bold;
			font-size: 18px;
			line-height: 21px;
			color: rgba(0, 0, 0, 0.7);
			margin-right: 10px;
		}
	}
	&__button {
		position: relative;
		display: inline-block;
		svg {
			width: 190px;
			height: 70px;
		}
		span {
			font-size: 18px;
			line-height: 21px;
			color: #FFFFFF;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

.organizers {
	margin-bottom: 60px;
	&__title {
		margin-bottom: 15px;
	}

	&__row {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		img {
			flex: 0 0 33.333%;
			max-height: 110px;
			width: auto;
			transition: all .3s;
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}
.partners {
	&__title {
		margin-bottom: 15px;
	}
	&__row {
		display: flex;
		align-items: center;
		margin-bottom: 40px;
		flex-wrap: wrap;
		&:last-child {
			margin-bottom: 0;
		}
		img {
			max-height: 130px;
			width: auto;
			transition: all .3s;
			&:hover {
				transform: scale(1.1);
			}
		}
	}

	&__row_3 {
		justify-content: center;

		img {
			flex: 0 0 33.333%;
		}
	}
	&__row_4 {
		justify-content: space-between;
		img {
			flex: 0 0 25%;
		}
	}
}

.title {
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	color: #38A22B;
}

.footer {
	background-color: #38A22B;
	color: #FFFFFF;
	position: relative;
	margin-top: 70px;
	padding-bottom: 60px;
	box-sizing: border-box;
	width: 100%;
	&:before {
		content: '';
		width: 100%;
		height: 70px;
		background-image: url(../img/footerVector.svg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: right top;
		position: absolute;
		top: -70px;
		left: 0;
	}
	.container {
		z-index: 2;
	}
	&__title {
		color: #ffffff;
		margin-bottom: 32px;
	}
	&__description {
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 30px;
	}
	&__button {
		position: relative;
		display: inline-block;
		transition: all .3s;

		span {
			font-size: 18px;
			line-height: 21px;
			color: #38A22B;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&:hover {
			transform: scale(1.2);
		}
	}
}

.padding{
	padding: 50px 0;
}
.stock{
	position: relative;
	overflow: hidden;
	padding-bottom: 80px;
	.stock_img{
		position: absolute;
		top: 0;
	}
	.stock_img1{
		top: 200px;
		left: -150px;
	}
	.stock_img2{
		top: 100px;
		right: -280px;
	}
	.stock_img3{
		top: 550px;

	}
	.stock_img4{
		right: -200px;
		top: 600px;
	}
	&__item{
		display: flex;
		justify-content: space-between;
		margin: 50px 0;
		margin-bottom: 90px;
		position: relative;
		&__title{
			font-weight: normal;
			font-size: 38px;
			line-height: 42px;
			font-family: $angry;
			&.green{
				color: $green;
			}
			&.orange{
				color: $orange;
			}
		}
		&__text{
			width: 610px;
			p{
				font-weight: normal;
				font-size: 24px;
				line-height: 28px;
			}
			ol{
				margin: 0;
				padding: 0;
				margin-left: 25px;
				li{
					font-weight: normal;
					font-size: 24px;
					line-height: 28px;
					margin-bottom: 30px;
					span{
						color: $green;
						font-style: italic;
					}
				}
			}
			strong{
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 19px;
				color: #4D4D4D;
			}
		}
	}
}
.callback{
	height: 367px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url('../img/bg-callback.svg');
	display: flex;
	align-items: center;
	margin-top: -40px;
	position: relative;
	z-index: 2;
	&__content{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	&__title{
		h4{
			font-weight: normal;
			font-size: 38px;
			line-height: 42px;
			color: #fff;
			font-family: $angry;
		}
	}
	&__text{
		h5{
			font-weight: bold;
			font-size: 36px;
			line-height: 42px;
			color: #fff;
			margin-bottom: 35px;
		}
		ol{
			margin: 0;
			padding: 0;
			padding-left: 35px;
			li{
				font-weight: normal;
				font-size: 24px;
				line-height: 28px;
				color: #fff;
				margin-bottom: 20px;
			}
		}
	}
}
.iblock__info{
	padding: 100px 0;
	padding-bottom: 50px;
	position: relative;
	overflow: hidden;
	margin-top: -50px;
	.iblock_img{
		position: absolute;
	}
	.iblock_img1{
		top: -200px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}
	.iblock_img2{
		left: -200px;
		top: 0px;
	}
	.iblock_img3{
		right: -150px;
		top: -100px;
	}
	.iblock_img4{
		left: -100px;
		top: 500px;
	}
	&__text{
		position: relative;
		p{
			font-weight: normal;
			font-size: 24px;
			line-height: 28px;
			span{
				color: $green;
				font-style: italic;
			}
			a{
				color: #2D9CDB;
				text-decoration: underline;
			}
		}
	}
	.video{
		margin-top: 60px;
		iframe{
			width: 100%;
			height: 665px;
			position: relative;
		}
	}
}
.modal{
	background-color: transparent;
	background-image: url('../img/modal.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 400px;
	padding: 0;
	height: 500px;
	&__content{
		padding: 50px 30px;
	}
}
.modalIsGood{
	width: 318px;
	background-color: transparent;
	background-image: url('../img/isGood.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 139px;
	h4{
		color: #fff;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		margin-bottom: 15px;
	}
	p{
		font-weight: normal;
		font-size: 9px;
		line-height: 11px;
		color: #fff;
	}
}
.select{
	position: relative;
	margin-bottom: 25px;
	&.active{
		.placeholder{
			.arrow{
				img{
					transform: rotate(180deg);
				}
			}
		}
		ul{
			display: block;
		}
	}
	.placeholder{
		background-color: #fff;
		position: relative;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		padding: 5px 14px;
		.arrow{
			position: absolute;
			top: 0;
			right: 0;
			background-color: #E4E4E4;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			width: 25px;
			img{
				height: 7px;
				transition: .4s all;
			}
		}
	}
	ul{
		border-top: 1px #E4E4E4 solid;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: #fff;
		display: none;
		li{
			border-bottom: 1px #E4E4E4 solid;
			padding: 5px 14px;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			transition: .4s all;
			&:hover{
				background-color: $orange;
				color: #fff;
			}
		}
	}
}
form{
	.field{
		margin-bottom: 25px;
		input{
			border: none;
			background-color: #fff;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			padding: 5px 14px;
			width: 100%;
			font-family: $default-font;
			outline: transparent;
			border: 1px #fff solid;
			&.error{
				border: 1px red solid;
			}
			&::placeholder{
				font-family: $default-font;
				color: #C0C0C0;
			}
		}
		textarea{
			border: 1px #fff solid;
			border: none;
			background-color: #fff;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			padding: 5px 14px;
			width: 100%;
			font-family: $default-font;
			outline: transparent;
			height: 110px;
			&::placeholder{
				font-family: $default-font;
				color: #C0C0C0;
			}
			&.error{
				border: 1px red solid;
			}
		}
	}
	.button{
		text-align: center;
	}
	button.btn{
		background-color: transparent;
		outline: transparent;
		border: none;
		span{
			top: 3px;
		}
	}
}
.fancybox-slide--html .fancybox-close-small{
	svg{
		path{
			fill: #fff;
		}
	}
}

.purpose {
	position: relative;
	background-image: url('../img/purpose.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 120px 0 80px;
	box-sizing: border-box;
	margin-bottom: 50px;
	overflow: hidden;
	&__stock {
		position: absolute;
		content: '';

		&:nth-child(1) {
			left: 0;
			top: 7%;
		}

		&:nth-child(2) {
			left: 0;
			top: 40%;
		}

		&:nth-child(3) {
			left: 0;
			top: 57%;
		}

		&:nth-child(4) {
			left: 0;
			top: 80%;
		}

		&:nth-child(5) {
			right: 0;
			top: 10%;
		}

		&:nth-child(6) {
			right: 0;
			top: 21%;
		}

		&:nth-child(7) {
			right: 0;
			top: 39%;
		}

		&:nth-child(8) {
			right: 0;
			top: 77%;
		}

	}
	.container {
		z-index: 2;
	}
	&__content {
		display: flex;
		justify-content: space-between;
	}
	&__column {
		flex: 0 0 50%;
		color: #ffffff;
		&:nth-child(1) {
			padding-right: 10%;
		}
		&:nth-child(2) {
			padding-left: 12%;
		}
		.icon {
			height: 105px;
			width: auto;
			margin: 50px 0;
			position: relative;
		}
		.description {
			font-weight: bold;
			font-size: 24px;
			line-height: 28px;
			margin-bottom: 35px;
			position: relative;
		}
		ul {
			list-style-type: disc;
			padding-left: 22px;
			box-sizing: border-box;
			li {
				position: relative;
				font-size: 24px;
				line-height: 28px;
				margin-bottom: 35px;
			}
		}
	}
}

.collection {
	position: relative;
	overflow: hidden;
	z-index: 2;
	margin-top: -90px;
	.container {
		z-index: 2;
	}
	&__stock {
		position: absolute;
		content: '';
		&:nth-child(1) {
			left: 0;
			top: 30%;
		}
		&:nth-child(2) {
			right: 0;
			top: 15%;
		}
	}
	&__title {
		margin-bottom: 88px;
	}
	&__row {
		margin-bottom: 89px;
		display: flex;
		justify-content: space-between;
		&:last-child {
			margin-bottom: 0;
		}
		.left {
			position: relative;
			flex: 0 0 45%;
			font-size: 38px;
			line-height: 42px;
			font-family: $angry;
			&.orange {
				color: $orange;
			}
			&.green {
				color: $green;
			}
			p {
				width: 50%;
			}
		}
		.right {
			flex: 0 0 55%;
			.title {
				font-weight: bold;
				font-size: 24px;
				line-height: 28px;
				margin-bottom: 25px;
			}
			ul {
				width: 93%;
				position: relative;
				&.numeric {
					list-style-type: decimal;
					padding-left: 20px;
					box-sizing: border-box;
					li {
						display: list-item;
					}
				}
				li {
					font-size: 24px;
					line-height: 28px;
					margin-bottom: 35px;
					display: flex;
					align-items: center;
					&:last-child {
						margin-bottom: 0;
					}
					img {
						width: 16px;
						height: auto;
						margin-right: 14px;
					}
				}
			}
		}
	}
}
.news {
	overflow: hidden;
	display: flex;
	align-items: center;
	position: relative;
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% 100%;
	min-height: 825px;
	padding-bottom: 150px;
	box-sizing: border-box;
	&__item {
		outline: none;
		opacity: 0;
		transition: all .3s;
		&.slick-current {
			opacity: 1;
		}
		.title {
			margin-bottom: 30px;
			color: #ffffff;
			p {
				width: 95%;
			}
		}
		.date {
			font-weight: 900;
			font-size: 24px;
			line-height: 28px;
			color: rgba(0, 0, 0, 0.8);
			margin-bottom: 25px;
		}
		.info-block {
			display: flex;
			justify-content: space-between;
			.title {
				text-transform: uppercase;
				flex: 0 0 45%;
				font-family: $angry;
				font-size: 35px;
				line-height: 39px;
				color: #FFFFFF;
				padding-right: 40px;
				box-sizing: border-box;
			}
			.text {
				flex: 0 0 55%;
				font-size: 24px;
				line-height: 28px;
				color: #000000;
			}
		}
	}
	&__content {
		position: relative;
	}
	.arrows {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		content: '';

		.arrow {
			cursor: pointer;
			height: 20px;
			width: 20px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			position: absolute;
			content: '';
			top: 50%;
		}
		.prev {
			left: -50px;
			background-image: url('../img/arrowPrev.svg');
		}
		.next {
			background-image: url('../img/arrowNext.svg');
			right: -50px;
		}
	}
}

@import "media"; // Always at the end
